p{
    color: white
}

h1 {
    text-align: center;
    color: rebeccapurple;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 30px
}

.body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("fondo.jpg");
    background-size: 100%
}